*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

:root{
    --white: #ffffff;
    --maincolor: #e7f1ff;
    --pcolor: #dbd8ff;
    --p2color: #2c3161;
    --hcolor: #2a33aa;
    --headcolor: #3a8096;
}

.navbar {
    margin: 0;
    padding: 0;
    background-color: var(--headcolor) !important;
}
header{
    background-color: var(--headcolor);
    li{
        a{
            color: var(--white) !important;
        }
    }
}

.logohead{
    width: 120px;
    height: auto;
}

body{
    background-color: var(--maincolor);
}

.card{
    scale: 1.0;
    transition: all 0.3s;
    filter: grayscale(70%);
    a:hover{
        scale: 1.05;
    }
   
}
.card:hover{
    scale: 1.08;
    transition: all 0.3s;
    filter: grayscale(0%);
    img{
        filter: grayscale(0%);
    }

}

footer{
    padding-bottom: 10px;
    max-width: 100%;
    background-color: var(--headcolor);
    margin: 0;
    border: 0;
    p{
        color: var(--white);
            margin: 0;
    }
    a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: 580;
    }
}