*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

:root{
    --maincolor: #8caad6;
    --pcolor: #dbd8ff;
    --p2color: #2c3161;
    --hcolor: #2a33aa;
}

.navbar {
    margin: 0;
    padding: 0;
}
header{
    background-color: var(--maincolor);
    li{
        a{
            color: var(--pcolor);
        }
    }
}

body{
    background-color: rgb(205, 224, 255);
}

.card{
    scale: 1.0;
    transition: all 0.3s;
    filter: grayscale(70%);
    a:hover{
        scale: 1.05;
    }
   
}
.card:hover{
    scale: 1.08;
    transition: all 0.3s;
    filter: grayscale(0%);
    img{
        filter: grayscale(0%);
    }

}

footer{
    padding-bottom: 0;
    max-width: 100%;
    background-color: var(--maincolor);
    p{
        color: var(--pcolor);

    }
    a{
        color: var(--pcolor)
    }
}